[al-click-animation-without-extra-node='true']::after {
  content: " ";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: inline-block;
  position: absolute;
  transition: all .2s linear;
  
  opacity: .3;
  border-radius: inherit;

  animation: wave .4s cubic-bezier(0.075, 0.82, 0.165, 1), to-the-ending .4s linear;
  animation-fill-mode: forwards;
}

@keyframes wave {
  from {
    box-shadow: 0 0 0 0 var(--current-color);
  }

  to {
    box-shadow: 0 0 0 5px var(--current-color)
  }
}

@keyframes to-the-ending {

  to {
    opacity: 0;
  }
}