@import './reset.scss';
$prefix-cls:'al';

$btn-cubic-bezier : .64,
.04,
.35,
1; // https://cubic-bezier.com/#.64,.04,.35,1

$color-white:#ffffff;
$primary-color:#096dd9;
$warning-color:#ffb818;
$success-color:#75d557;
$danger-color:#ff4d4f;