@import './variables.scss';

.#{$layout} {
  display: flex;
  flex-direction: column;
  flex: auto;

  &-aside {
    position: relative;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    overflow: auto;
    &-has-trigger{
      padding-bottom: 48px;
    }
    &-trigger {
      position: fixed;
      bottom: 0;
      z-index: 1;
      height: 48px;
      color: #fff;
      line-height: 48px;
      text-align: center;
      background: #002140;
      cursor: pointer;
      transition: all .2s;
    }
    &-children {
      height: 100%;
    }
  }

  &-header {
    height: 64px;
  }
  &-content {
  }
  &-has-aside {
    flex-direction: row;
  }
}