@import '../../style/variables.scss';
@import './mixin.scss';

$primary-lighten-color:lighten($primary-color, 10%);
$primary-darken-color:darken($primary-color, 10%);

.#{$prefix-cls}-button {
  display: inline-block;
  margin: 4px;
  padding: 0 15px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  border: 1px solid #d9d9d9;
  user-select: none;
  line-height: 1.5;
  height: 32px;
  background-color: #ffffff;
  background-image: none;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  transition: all .3s cubic-bezier($btn-cubic-bezier);

  &-round {
    border-radius: 36px;
  }

  &-cricle {
    border-radius: 50%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    min-width: 32px;
  }

  &-has-icon .#{$prefix-cls}-icon {
    margin-left: .34em;
  }

  &-auto-insert-space>* {
    letter-spacing: .34em;
    margin-right: -.34em;

    .#{$prefix-cls}-icon {
      margin-left: 0;
    }
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline: 0;
  }

  &:hover,
  &:focus {
    color: $primary-lighten-color;
    border-color: $primary-lighten-color;
  }

  &:active {
    color: $primary-color;
    border-color: $primary-color;
  }

  &:not([disabled]):active {
    box-shadow: none;
  }

  @include btn-color("primary", $color-white, $primary-color);
  @include btn-color("danger", $color-white, $danger-color);
  @include btn-color("warning", $color-white, $warning-color);
  @include btn-color("success", $color-white, $success-color);

  &-link {
    color: $primary-color;
    background-color: transparent;
    border: none;
    cursor: pointer;



    &:hover,
    &:focus {
      color: lighten($color: $primary-color, $amount: 10%);
    }

    &:active {
      color: darken($color: $primary-color, $amount: 10%);
    }
  }



  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }

  &.disabled,
  &:disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    box-shadow: none;
  }

  @include btn-disabled('primary', $primary-color);
  @include btn-disabled('success', $success-color);
  @include btn-disabled('danger', $danger-color);
  @include btn-disabled('warning', $warning-color);

  &-link.disabled,
  &-link:disabled {
    color: rgba(0, 0, 0, 0.25);
    background: none;
  }

  &-block {
    width: 100%;
  }

  &-cool-loading>span {
    transition: margin-right .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &-loading {
    pointer-events: none;

    &:not(.#{$prefix-cls}-button-has-icon) {
      padding-right: 22px;

      >span {
        margin-right: -14px;
      }
    }
  }
}